{% extends "templates/base.html.twig" %}

{% block title %}Client Area{% endblock %}

{% block head %}

<link rel="stylesheet" href="/node_modules/fork-awesome/css/fork-awesome.min.css">

<style>
  .warnOldVersion {
    padding-left: 3px;
  }
</style>

{% endblock %}

{% block content %}

<h1>Client Area</h1>

Welcome,
<pre style="display: inline; margin: 0;">{{ username }}</pre>!

<!-- temporary -->
<br><br>

<div class="row">
  <div class="col-md-8">
    {# Error message container #}

    {% if error_msg %}

    <div class="alert alert-danger" role="alert">
      <b>Error</b>: {{ error_msg }}
    </div>

    {% endif %}

    {% if msg %}

    <div class="alert alert-primary">
      {{ msg }}
    </div>

    {% endif %}

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col"></th>
          <th scope="col">Watch</th>
          <th scope="col">Latest</th>
          <th scope="col">Running</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- TODO: Ones with no action required go to the bottom. -->
        {% for watcher in watchers %}
          <tr>
            <td>
              {% if watcher.latest %}
                <i class="fa fa-check-circle text-success latestVersion"></i>
              {% else %}
                <i class="fa fa-exclamation-circle text-danger warnOldVersion"></i>
              {% endif %}
            </td>
            <th scope="row">
              {% if watcher.url and not watcher.subject %}
                <a href="{{ watcher.url }}">
              {% endif %}

              <!---->
              {{ watcher.backend }}{% if watcher.subject %}:{% endif %}

              {% if watcher.url and watcher.subject %}
                <a href="{{ watcher.url }}">
              {% endif %}
              
              {% if watcher.subject %}
                {{ watcher.subject }}
              {% endif %}
              <!---->

              {% if watcher.url %}</a>{% endif %}
            </th>
            <td>
              <a href="{{ watcher.latest_version.url }}">
                {{ watcher.latest_version.text }}
              </a>
            </td>
            <td>
              <a href="{{ watcher.running_version.url }}">
                {{ watcher.running_version.text }}
              </a>
            </td>
            <td>
              {% if not watcher.latest %}
                <input id="doneBtn" class="btn btn-primary" type="button" value="Done">
              {% endif %}
              <a href="delete.php?id={{ watcher.id }}"
                class="btn btn-primary" role="button" aria-pressed="true">
                {# TODO: Accessibility, add description #}
                <i class="fa fa-trash"></i>
              </a>
            </td>
          </tr>
        {% else %}
          <tr>
            <td></td>
            <td>
              <p>No watchers available. Go <a href="add-new/">create one</a>!</p>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <a class="btn btn-primary" role="button"
      id="addNewAppBtn" href="add-new/">Add new watcher</a>

  </div>

  <!-- Account tasks -->
  <div class="col-md-4">
    <h3>Account tasks</h3>

    <ul>
      <li><a href="user/change-email.php">Change email address</a></li>
      <li><a href="user/change-password.php">Change password</a></li>
      <li><a>Delete account</a></li>
    </ul>
  </div>
</div>

{% endblock %}