{% extends "templates/base.html.twig" %}

{% block title %}Change password{% endblock %}

{% block content %}

<h1>Change password</h1>

{# Error message container #}

{% if error_msg %}

<div class="alert alert-danger" role="alert">
  <b>Error</b>: {{ error_msg }}
</div>

{% endif %}

<form action="/form-handlers/user/change-password.php" method="post">
  <div class="form-group">
    <div class="form-row">
      <div class="col-md-2 text-right">
        <label for="currentPassword" style="padding-right: 1em;">Your current password</label>
      </div>
      <div class="col-md-6">
        <input type="password" class="form-control" id="currentPassword" placeholder="Enter your current password"
          required name="password">
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="form-row">
      <div class="col-md-2 text-right">
        <label for="newPassword" style="padding-right: 1em;">New password</label>
      </div>
      <div class="col-md-6">
        <input type="password" class="form-control" id="newPassword" placeholder="Enter the new password"
          required name="new_password">
      </div>
    </div>
  </div>
  </div>

  <!-- submit -->
  <div class="form-row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
      <button type="submit" class="btn btn-primary">Change password</button>
    </div>
  </div>
  <!-- ./submit -->
</form>

{% endblock %}