{% extends "templates/base.html.twig" %}

{% block title %}Login{% endblock %}

{% block content %}

<h1>Login</h1>

{# Error message container #}

{% if error_msg %}

  <div class="alert alert-danger" role="alert">
    <b>Error</b>: {{ error_msg }}
  </div>

{% endif %}

{% if welcome %}

  <div class="alert alert-primary">
    Thanks for signing up for {{ APP_NAME }}! You can now log in.
  </div>

{% endif %}

{% if pwd_change %}

  <div class="alert alert-primary">
    Your password has been changed. You can now log in with your new email address.
  </div>

{% endif %}

<form action="/form-handlers/user/login.php" method="post">
  <div class="form-group">
    <div class="form-row">
      <div class="col-md-2 text-right">
        <label for="exampleInputEmail1" style="padding-right: 1em;">Email address</label>
      </div>
      <div class="col-md-6">
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email"
          required
          name="email">
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="form-row">
      <div class="col-md-2 text-right">
        <label for="exampleInputPassword1" style="padding-right: 1em;">Password</label>
      </div>
      <div class="col-md-6">
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
          required
          name="password">
      </div>
    </div>
  </div>

  <!-- submit -->
  <div class="form-row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
  <!-- ./submit -->
</form>

<br>
<p>Don't have account yet? <a href="./register.php">Sign up</a>!</p>

{% endblock %}